.DS_Store
node_modules
/dist
django-pass.txt
/mystie/security_key.py

# local env files
.env.local
.env.*.local
*.pyc

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.pyc

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pyc